html {
    scroll-behavior: smooth;
}

@media(max-width: 400px) {
    img {
        height: auto;
        width: 100%;
    }
        .castle-form {
        border-radius: 15px;
        margin-bottom: 100px;
        margin-top: 50px;
    }
    h3 {
        display: none;
    }
    .card {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
}

@media(min-width: 401px) {
    .castle-form {
        border-radius: 15px;
        margin-bottom: 250px;
    }
    .card {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
}
.castle-header-and-text {
    margin-top: 220px;
    padding-left: 300px;
}
.castle-card-one-review {
    display: flex;
    justify-content: flex-end;
}

}

.castle-first-row {
    z-index: 0;
    background: 
    linear-gradient(rgba(105, 105, 105, .7),
    rgba(105, 105, 105, .7)),
    url(castlebackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 70px;
}

.castle-side-image-one {
    max-height: 700px;
    margin-top: 150px;
}

.castle-review-cards {
    max-width: 18rem;
}

.castle-review-middle-card {
    min-height: 17rem;
}